{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <img src="{% static 'img/loginshop.png' %}" class="w-100 img-fluid" />
      </div>
      <div class="col-md-8 shadow-2">
        {% if page == 'register' %}
          
            <form action="{% url 'usersregister' %}" method="POST">
              {% csrf_token %}
                <div class="text-center mb-3">
                  <p>Sign up with:</p>
                  <button type="button" class="btn btn-primary btn-floating mx-1">
                    <i class="fab fa-facebook-f"></i>
                  </button>

                  <button type="button" class="btn btn-primary btn-floating mx-1">
                    <i class="fab fa-google"></i>
                  </button>

                  <button type="button" class="btn btn-primary btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                  </button>

                  <button type="button" class="btn btn-primary btn-floating mx-1">
                    <i class="fab fa-github"></i>
                  </button>
                </div>

                <p class="text-center">or:</p>

                <!-- Name input -->
                <div class="form-outline mb-4">
                  {% comment %} <input type="text" id="registerName" class="form-control" /> {% endcomment %}
                  {% render_field form.first_name class="form-control" %}
                  <label class="form-label" for="registerName">Full Name</label>
                  <p style="color: red;">{{form.errors}}</p>
                </div>

                <!-- Username input -->
                <div class="row g-3">
                <div class="col">
                <div class="form-outline mb-4">
                  {% comment %} <input type="text" id="registerUsername" class="form-control" /> {% endcomment %}
                  {% render_field form.email class="form-control" %}
                  <label class="form-label" for="registerUsername">Email</label>
                  <p style="color: red;">{{form.errors}}</p>
                </div>
                </div>
                <div class="col">
                <!-- Email input -->
                <div class="form-outline mb-4">
                  {% comment %} <input type="email" id="registerEmail" class="form-control" /> {% endcomment %}
                  {% render_field form.username class="form-control" %}
                  <label class="form-label" for="registerEmail">username</label>
                  <p style="color: red;">{{form.errors}}</p>
                </div>
                </div>
                </div>
                <!-- Password input -->
                <div class="row g-3">
                <div class="col">
                <div class="form-outline   mb-4">
                  {% comment %} <input type="password" id="registerPassword" class="form-control" /> {% endcomment %}
                  {% render_field form.password1 type="password" class="form-control" %}
                  <label class="form-label" for="registerPassword">Password</label>
                  <p style="color: red;">{{form.errors}}</p>
                </div>
                </div>

                <!-- Repeat Password input -->
                <div class="col">
                <div class="form-outline col  mb-4">
                  {% comment %} <input type="password" id="registerRepeatPassword" class="form-control" /> {% endcomment %}
                  {% render_field form.password2 type="password" class="form-control" %}
                  <label class="form-label" for="registerRepeatPassword">Repeat password</label>
                  <p style="color: red;">{{form.errors}}</p>
                </div>
                </div>
                </div>
          

                <!-- Checkbox -->
                <div class="form-check d-flex justify-content-center mb-4">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    value=""
                    id="registerCheck"
                    checked
                    aria-describedby="registerCheckHelpText"
                  />
                  <label class="form-check-label" for="registerCheck">
                    I have read and agree to the terms
                  </label>
                </div>
                  <div class="text-center">
                  <p>Already have an account ?<a href="{% url 'userlogin' %}">Login</a></p>
                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
            </form>
        {% else %}
        <form action="" method="POST">
          {% csrf_token %}
            <div class="text-center mb-3">
              <p>Sign in with:</p>
              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button>

              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-google"></i>
              </button>

              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>

              <button type="button" class="btn btn-primary btn-floating mx-1">
                <i class="fab fa-github"></i>
              </button>
            </div>

            <p class="text-center">or:</p>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="text" id="loginName" name="username" class="form-control" />
              
              <label class="form-label" for="loginName">Email or username</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" id="loginPassword" name="password" class="form-control" />
              <label class="form-label" for="loginPassword">Password</label>
            </div>

            <!-- 2 column grid layout -->
            <div class="row mb-4">
              <div class="col-md-6 d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check mb-3 mb-md-0">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="loginCheck"
                    checked
                  />
                  <label class="form-check-label" for="loginCheck"> Remember me </label>
                </div>
              </div>

              <div class="col-md-6 d-flex justify-content-center">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
              </div>
            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

            <!-- Register buttons -->
            <div class="text-center">
              <p>Not a member? <a href="{% url 'usersregister' %}">Register</a></p>
            </div>
        </form>
        {% endif %}
      </div>
    </div>
</div>   

{% endblock content %}