
/* unfocused borders*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.custom-notch .form-control{
  background-color: #d1cfcf;
  border: none;
}
.custom-notch .form-control:focus{
  background-color: transparent;
}
.custom-notch .form-control~.form-notch .form-notch-leading {
  border-top: 0.124rem solid #d1cfcf;
  border-bottom: 0.124rem solid #d1cfcf;
  border-left: 0.124rem solid #d1cfcf;
} 
.transparent-input{
  color:rgb(255 255 255 / 80%)
}
.custom-notch .form-control~.form-notch .form-notch-trailing {
  border-top: 0.124rem solid #d1cfcf;
  border-right: 0.124rem solid #d1cfcf;
  border-bottom: 0.124rem solid #d1cfcf;
} 

.custom-notch .form-control~.form-notch .form-notch-middle {
  border-bottom: 0.124rem solid #d1cfcf;
  border-top: 0.124rem solid #d1cfcf;
} 
.custom-notch .form-control:focus ~ .form-notch .form-notch-leading {
  border-top: 0.125rem solid #c7af27;
  border-bottom: 0.125rem solid #c7af27;
  border-left: 0.125rem solid #c7af27;
}
.custom-notch .form-control:focus ~ .form-notch .form-notch-middle {
  border-color: #c7af27;
}
.custom-notch .form-control:focus ~ .form-notch .form-notch-trailing {
  border-top: 0.125rem solid #c7af27;
  border-bottom: 0.125rem solid #c7af27;
  border-right: 0.125rem solid #c7af27;
}
.custom-notch .form-control ~ .form-label {
  color: rgba(37, 36, 36, 0.65) !important;
}
.custom-notch .form-control:focus ~ .form-label {
  color: #c7af27 !important;
}

.autocomplete-input.focused ~ .form-notch .form-notch-leading {
  border-top: 0.125rem solid #c7af27;
  border-bottom: 0.125rem solid #c7af27;
  border-left: 0.125rem solid #c7af27;
  transition: all 0.2s linear;
}
.autocomplete-input.focused ~ .form-notch .form-notch-middle {
  border-color: #c7af27;
}
.autocomplete-input.focused ~ .form-notch .form-notch-trailing {
  border-color: #c7af27;
}
.autocomplete-input.focused ~ .autocomplete-label {
  color: #c7af27;
}

.custom-notch .form-control:focus {

  color: rgb(255 255 255 / 65%) !important;

}
.srcbtn {
  color: rgb(255 255 255) !important;
  background-color:  rgb(227 195 49);
}
.dropdown-toggle:after{
  color:#d1cfcf
}

.accordion-button:after {
  margin-right: 15px!important;
  margin-left: auto!important;
}
#intro {
  margin-top: -58.59px;
  height: 45vh !important;
 
}

.fas.fa-heart:hover {
  color: #f44336 !important;
}

.fas.fa-share-alt:hover {
  color: #0d47a1 !important;
}

/* custom select style */
 
/* .cusSelectbox {
  height: 34px;
  width: 100%;
  color: #9b9b9b;
  border: 1px solid  #9b9b9b;
  padding-left: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  border-radius: 3px;
}
  */
.labelselect{
  font-size: 15px;
}
.commentReply{
  font-size: 14px;
} 
.commentReplybtn{
  font-size: 10px;
}

.loginregister{
  height: 100%;
  width: 100%;
 
}
.owl-prev {
  left: -25px;
}
.owl-next {
  right: -25px;
}
.owl-prev , .owl-next {
  position: absolute;
  top: 80px;
}
.owl-prev span, .owl-next span {
  font-size: 40px;
  color: rgb(92, 87, 87);
}

/* sidebar and Main  */
.sideandmain{
  margin:0 10px 0 10px;
}

.maincatlist {
  font-size: 16px!important;
  background-color: #fcfcfc!important;
}
.maincatlist:hover{
  background-color:#faf7d7!important;
  box-shadow: 6px 4px 6px 6px #e9ecef;
}
.subcatlist:hover{
background-color: #8C9EFF;
color: #ffffff!important;
box-shadow: 6px 4px 6px 6px #e9ecef;
}
.subcatlist {
  font-size: 14px;
  padding: 5px;
}
.scroll-section {
  max-height: 600px;
  overflow-y: auto;
}

.categoryitem{
  margin: 0px;
  font-size: 16px;
}
.filter-head{
  font-size: 15px;
}
.apply-filter{
  font-size: 13px;
}
.form-check-input[type=radio]{
  width: 18px;
  height: 18px;
}
.displaynonefield{
  display: none;
}
.remove-default-btn {
	background-color: transparent;
	border: none;
	box-shadow: none;
}