{% load widget_tweaks %}
{% load static %}
<section class="container-fluid">
    <!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted">
    <!-- Grid container -->
    <div class="border-bottom text-center p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-2">
        <!-- Facebook -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #3b5998;"
          href="#!"
          role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #55acee;"
          href="#!"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
        <!-- Google -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #dd4b39;"
          href="#!"
          role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #ac2bac;"
          href="#!"
          role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #0082ca;"
          href="#!"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #333333;"
          href="#!"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    <!-- Section: Form -->
    <section class="">
      <form action="" method='POST'>
        {% csrf_token %}
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline mb-4">
              {% comment %} <input type="email" id="form5Example27" class="form-control" /> {% endcomment %}
              {% render_field subscriber.subs_email class="form-control"  %}
              <label class="form-label" for="form5Example27">Email address</label>
            </div>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button name="subscriberform" type="submit" class="btn btn-primary mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
    </div>
    <!-- Grid container -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class=" text-center text-md-start mt-4">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-7 mx-auto mb-4 d-flex">
            <!-- Content -->
           <div>
              <img
              src="{% static 'img/logo.png' %}"
               
               style="height: 150px; width: auto;"
              alt=""
              loading="lazy"
            />
          </div>  
          <div>
            <p class="mx-4">
              Buy Used Products Online Used Products can offer the same quality as new ones in the event that you have the persistence to look for the best alternatives to buy used products online. 
               You don't generally need to go out to discover them, with the web today you can seek from the solace you could call your own home and even have them conveyed! Sell Used Products Online It is getting to be known certainty that online 
              world is known as a rumored shopping destination for an assortment of products
            </p>
          </div>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3 fa-lg" style="color: #f75c08"></i> Itahari ,Sunsari Nepal</p>
            <p>
              <i class="fas fa-envelope me-3 fa-lg" style="color: #f75c08"></i>
              info.oursmarketplace@gmail.com
            </p>
            <p><i class="fas fa-phone me-3 fa-lg" style="color: #f75c08"></i> +9779804011563</p>
            <p><i class="fas fa-mobile-alt me-3 fa-lg" style="color: #f75c08"></i> +9779823213051</p>
          </div> 
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="">Ours MarketPlace</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  </section>